body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fundo cinza */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    width: 80px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input::placeholder {
    color: #888;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; 
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.signup-link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


/* Página de Cadastro */
.signup-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form .form-group {
    width: 100%;
    margin-bottom: 15px;
}

.signup-form .form-group input,
.signup-form .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-form .form-group input::placeholder,
.signup-form .form-group select::placeholder {
    color: #888;
}

.signup-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.signup-form button:hover {
    background-color: #0056b3;
}

.signup-form .error-message {
    color: red;
    font-size: 12px;
}

.signup-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.signup-form .form-group input,
.signup-form .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-form .form-group input::placeholder {
    color: #888;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
}

.signup-container select {
    margin-top: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.date-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.date-group select {
    width: 30%; 
}

.confirm-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .form-group {
    margin-bottom: 20px; 
}